@use "vars";

.CreateAccount-container {
  width: 320px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 40px;
}

.CreateAccount-container .title {
  font-size: var(--lg);
  text-align: start;
}
.CreateAccount-container .form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
}
.CreateAccount-container .form-container .form-text-container {
  display: flex;
  flex-direction: column;
}
.CreateAccount-container .form-container .label-text {
  font-size: var(--sm);
  font-weight: bold;
}
.CreateAccount-container .form-container .input {
  background-color: var(--text-input-field);
  border: none;
  border-radius: 8px;
  height: 30px;
  font-size: var(--md);
  padding: 6px;
}
.login-button {
  background-color: var(--hospital-green);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}
@media (max-width: 640px) {
  .form-container {
    height: 100%;
    justify-content: space-between;
  }
}
