@use "vars";

.MyAccount-container {
  width: 320px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 40px;
}
.MyAccount-container .title-text {
  font-size: var(--lg);
  text-align: start;
}
.MyAccount-container .form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 40px;
}
.MyAccount-container .form-container .form-text-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.MyAccount-container .form-container .form-text-container .label-text {
  font-size: var(--sm);
  font-weight: bold;
}
.MyAccount-container .form-container .form-text-container .value-text {
  color: var(--very-light-pink);
  font-size: var(--md);
}
.MyAccount-container .form-container .secondary-button {
  background-color: var(--white);
  border-radius: 8px;
  border: 1px solid var(--hospital-green);
  color: var(--hospital-green);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}

@media (max-width: 640px) {
  .form-container {
    height: 100%;
    justify-content: space-between;
  }
}
