@use "vars";

.Orders-container {
  width: 320px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 40px;
}
.Orders-container .title-text {
  font-size: var(--lg);
  margin-bottom: 40px;
}
.Orders-container .Orders-content {
  display: flex;
  flex-direction: column;
}
