@use "vars";

.OrderItem-container {
  width: 100%;
  display: flex;
  justify-content: space-between;

  align-items: center;
}
.OrderItem-container figure {
  margin: 0;
}
.OrderItem-container figure img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}
.OrderItem-container p:nth-child(2) {
  color: var(--very-light-pink);
  font-size: var(--md);
}
.OrderItem-container p:nth-child(3) {
  font-size: var(--md);
  font-weight: bold;
}
